
@media screen and (max-width: 900px) {
    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-links{
        display: none;
    }


    h1 {
        font-size: 2rem;
    }

    .flex-c {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header-left {
        max-width: 80%;
    }

    .header-right {
        max-width: 80%;
    }
    
    .header-section {
        margin-bottom: 100px;
        gap: 20px;

    }

    .header-section {
        margin-top: 0;
        margin-bottom: 22px;
        gap: 20px;
    }
    .header-section img{
        width: 100%;
        height: 200px;
    }

    .community-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .learn-seaction container {
        display: flex;
        flex-direction: column-reverse;
    }

    
}